.dashboardBentoNormal {
    width: 440px;
    border-radius: 25px;
    border: solid #DDD 1px;
    padding-block: 20px;
    margin-bottom: 30px;
}

.dashboardBentoWide {
    width: 880px;
    border-radius: 25px;
    border: solid #DDD 1px;
    padding-block: 20px;
    margin-bottom: 30px;
}

.name {
    margin-top: 0px;
    padding-left: 20px;
}