.editUser {
    border: solid #DDD .5px;
    background-color: #fafafa;
    width: 300px;
    height: max-content;
    border-radius: 25px;

    padding-inline: 20px;
    padding-block: 1px;

    margin-bottom: 35px;
}

.name {
    font-size: 16px;
    font-weight: 600;
}

ul {
    margin-top: -5px;
    padding-left: 5px;
    margin-left: 0;
    color: #777;
    list-style-type: none;
}

.task {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
}

.task p {
    margin-block: 5px;
    color: #777;
}