.progressBarContainer {
    width: 100%;
    max-width: 500px;
    position: relative;
}
  
.progressBar {
    width: 100%;
    background-color: #e1e1e1;
    border-radius: 50px;
    overflow: hidden;
    height: 40px;
}
  
.progress {
    height: 100%;
    background: linear-gradient(to right, #8ca7de, #ae93d8);
    border-radius: 10px 0 0 10px;
    transition: width 0.4s ease;
}

.progressBarContainer p {
    position: absolute;
    text-align: right;
    top: -5px;
    right: 30px;
    color: #777;
}