.promptedUser {
    position: relative;
    border: solid #DDD .5px;
    background-color: #fafafa;
    width: 150px;
    height: 150px;
    border-radius: 25px;

    padding-inline: 20px;
    padding-block: 1px;

    margin-bottom: 20px;
}

.name {
    font-size: 14px;
    font-weight: 600;

    background: linear-gradient(90deg, #798cd1, #a886dc);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

ol {
    margin-top: -5px;
    padding-left: 15px;
    margin-left: 0;
    color: #777;
}

.task {
    font-size: 11px;
    font-weight: 300;
}

.task p {
    margin-block: 0px;
    color: #777;
}

.estimateAI {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    font-weight: 300;
    background: linear-gradient(90deg, #5f6ea5, #5f6ea5);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}